
.dashboard-container{
    padding: 15px;

    .title{
        font-size: 20px;
        font-weight: 600;
    }

    .content{
        display: flex;
        gap: 20px;
        .c-left{
            width: 50%;
            border: 1px solid green;
            display: flex;
            flex-wrap: wrap;
            .child{
                width: calc(50% - 10px);
                height: 150px;
                border: 1px solid #ccc;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .text-2{
                    font-size: 25px;
                }
            }
        }
        .c-right{
            width: 50%;
            height: 350px;
        }
    }
}